<div ng-controller="AdminProfileViewController" id="profilePage" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-12" style="height: 100%">
            <div class="row" style="height: 100%">
                <div class="col-md-12" style="height: 100%">
                    <div class="row" style="height: 100%">
                        <div class="col-md-2" style="height: 100%">
                            <ul class="nav nav-pills nav-stacked navbar-inverse" style="height: 100%;">
                                <li role="presentation"><a href="#">All</a></li>
                                <li role="presentation"><a href="#">Admin</a></li>
                                <li role="presentation"><a href="#"">User</a></li>
                            </ul>
                        </div>
                        <div class="col-md-10" style="height: 100%; padding-left:0px">
                            <div class="row">
                                <div class="col-md-8">
                                    <input ng-model="search" class="textField" type="text" class="form-control" placeholder="Search for...">
                                </div>
                                <div class="col-md-2" style="padding-left: 0">
                                    <div class="btn btn-danger textFeildButton">Remove Selected</div>
                                </div>
                                <div class="col-md-2" style="padding-left: 0">
                                    <div class="btn btn-primary textFeildButton">Add New</div>
                                </div>
                            </div>

                            <div class="content">
                                <table class="fixed_headers">
                                    <thead>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td><strong>Name</strong></td>
                                            <td><strong>User Name</strong></td>
                                            <td><strong>Privilege</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="userTableRow" ng-repeat="user in profile.users" data-toggle="modal" data-target="#userModal" data-user="{{ user }}">
                                            <td><input type="checkbox"></td>
                                            <td id="name">{{ user.firstName + " " + user.lastName }}</td>
                                            <td id="userName">{{ user.userName }}</td>
                                            <td id="role">{{ user.role}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Password Update</h4>
            </div>
            <div class="modal-body">

                <h5 class="modal-title" style="padding-top: 10px;"><span id="userModalTitle"></span> (<span id="userModalUserName"></span>)</h5>
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <h6>Old Password</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>New Password</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Confirm New Password</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="password" name="existingPassword" placeholder="Old Password">
                    </div>
                    <div class="col-md-4">
                        <input type="password" name="newPassword" placeholder="New Password">
                    </div>
                    <div class="col-md-4">
                        <input type="password" name="confirmPassword" placeholder="Confirm New Password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>