body{
	margin: 0px;
	height: 100%;
	width: 100%;
}
#header{
	background-color: black;
	color: white;
	padding: 5px;
}
#header > h1{
	text-align: center;
	margin-top: 0px;
}
.flagIcon:hover{
	cursor: pointer;
}
#section {
    width:100%;
    text-align:center;
    padding:10px;	 	 
}
#welcomeText{
	text-align: center;
	font-size: small;
}
#menu{
	text-align: center;
}
#additionalInfoText {
	text-align: center;
	font-size: smaller;
}
#adminInfo{
	color: red;
}
#leftMenu{
	background-color:#aaa; 
	height:800px;
	width:15%;
	float:left;
}
#menuTitle {
	text-align: center; 
	padding-top:15px;
	text-decoration: underline;
}
#leftMenu > ul{
	list-style: none;
	padding-left: 20%;
	font-size: large;
}
#mainContent{
	background-color:#eee; 
	height:800px;
	width:70%;
	float:left;
	overflow: scroll;
}
#specials{
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 3%;
	padding: 1%;
	border: black solid 1px;
	border-radius: 15px;
}
#rightMenu{
	background-color: #aaa; 
	height: 800px;
	width: 15%;
	float: right;
}
#tray{
	border-top: black solid 1px;
	border-bottom: black solid 1px;
	height: 80%;
}
#trayControl{
	margin-top: 10%;
	margin-left: 8%;
}