<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flying Dutchman</title>
    <script src="../libraries/jquery-2.2.0.min.js"></script>
    <script src="../services/LocalizationManager.js"></script>
    <script src="../services/BackendManager.js"></script>
    <script src="../models/Person.js"></script>
    <script src="../models/Customer.js"></script>
    <script src="../models/Drink.js"></script>
</head>
<div></div>
<body>
<h1>Flying Dutchman</h1>
This is a piece of localized text: <script>writeLocalizedString("key_sample")</script>
</body>
</html>