<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flying Dutchman</title>
    <link rel="stylesheet" type="text/css" href="assets/css/default.css">
    <script src="../controllers/HomeViewController.js"></script>
    <script src="../libraries/jquery-2.2.0.min.js"></script>
    <script src="../services/LocalizationManager.js"></script>
    <script src="../services/BackendManager.js"></script>
    <script src="../models/Person.js"></script>
    <script src="../models/Customer.js"></script>
    <script src="../models/Administrator.js"></script>
    <script src="../models/Drink.js"></script>
</head>
<body>
<div id="header">
<img class="flagIcon" src="assets/images/eng-icon.png" onclick="setLocaleAux('english');"/>
<img class="flagIcon" src="assets/images/swe-icon.png" onclick="setLocaleAux('swedish');"/>
<h1>Flying Dutchman</h1>
</div>
<div id="section">
<h1><script>writeLocalizedString("welcome")</script></h1>
<div id="login">
<div>
<script>writeLocalizedString("username")</script>:<input id="username_Field" type="text" name="username"><br>
<script>writeLocalizedString("password")</script>:<input id="password_Field" type="password" name="password"><br>
<input type="button" id="logInButton" onclick="logInAndRegisterCurrentUser(document.getElementById('username_Field').value, document.getElementById('password_Field').value)">
<input type="button" id="continueButton" onclick="window.location='customerMain.html'">
</div>
</body>
</html>
<!--- Element localization -->
<script src="../services/ElementLocalization.js"></script>