<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flying Dutchman</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/default.css">
    <link rel="stylesheet" href="../../libraries/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../libraries/bootstrap/css/bootstrap.min.css">
    <script src="../../libraries/jquery-2.2.0.min.js"></script>

    <script src="../../services/LocalizationManager.js"></script>
    <script src="../../services/BackendManager.js"></script>
    <script src="../../models/Person.js"></script>
    <script src="../../models/Customer.js"></script>
    <script src="../../models/Drink.js"></script>
    <script src="../../models/Administrator.js"></script>
</head>
<body>

<div id="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Flying Ductchman</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="javascript:$('#content').load('welcome.html');">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="javascript:$('#content').load('menu.html');">Menu <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript: window.location = '../HomeView.html'">Log Out</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:setLocaleAux('english');"><img class="flagIcon" src="../assets/images/eng-icon.png"/>  English</a></li>
                            <li><a href="javascript:setLocaleAux('swedish');"><img class="flagIcon" src="../assets/images/swe-icon.png"/>  Swedish</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="content">

</div>


</body>
</html>
<script>$('#content').load('welcome.html')</script>
<script src="../../controllers/HomeViewController.js"></script>
<script src="../../libraries/bootstrap/js/bootstrap.min.js"></script>