<div class="row">
    <!--<div class="col-md-2">-->
        <!--<div id="leftMenu">-->
            <!--<ul class="nav nav-pills nav-stacked">-->
                <!--<li role="presentation" class="active"><a href="javascript:$('#centralContent').load('menu-beer.html');">Beer</a></li>-->
                <!--<li role="presentation"><a href="javascript:$('#centralContent').load('menu-beer.html');">Spirit</a></li>-->
                <!--<li role="presentation"><a href="javascript:$('#centralContent').load('menu-beer.html');">Wine</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-md-10">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="javascript:$('#centralContent').load('menu-beer.html');">Beer</a></li>
            <li role="presentation"><a href="javascript:$('#centralContent').load('menu-beer.html');">Spirit</a></li>
            <li role="presentation"><a href="javascript:$('#centralContent').load('menu-beer.html');">Wine</a></li>
        </ul>
        <div id="centralContent">
        </div>
    </div>
    <div class="col-md-2">
        <div id="rightMenu">
            <div id="menuTitle"><h2>Tray</h2></div>
            <div id="tray"></div>
            <div id="trayControl">
                <button>Undo</button>
                <button>Redo</button>
                <button>Next</button>
            </div>
        </div>
    </div>
</div>