<!-- Creating the welcome page shown when the customer first enters the website. -->

<div id="welcomePage">
    <br>
    <div id="welcomeText"><h1>Welcome</h1></div>
    <div id="additionalInfoText"><h2>Hope you enjoy your stay.</h2></div>
    <div id="specials">
        <h2>Specials</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum felis, pharetra non tempor quis, pulvinar id nunc. Sed ultrices vulputate augue id suscipit. Sed cursus laoreet ex nec ullamcorper. Donec at sodales tortor. Nam pretium, sem nec sagittis dapibus, ligula neque bibendum justo, ut molestie neque urna vitae turpis.</p>
    </div>
    <br><br>
    <div id="specials">
        <h2>News</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum felis, pharetra non tempor quis, pulvinar id nunc. Sed ultrices vulputate augue id suscipit. Sed cursus laoreet ex nec ullamcorper. Donec at sodales tortor. Nam pretium, sem nec sagittis dapibus, ligula neque bibendum justo, ut molestie neque urna vitae turpis.</p>
    </div>
    <div id="contentList">
    </div>
</div>
